.index {
  width: 100%;
  background: #1e212a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &_zone {
    flex: 1;
    width: 100%;
    overflow: hidden;
    &_view {
      height: 100%;
      position: relative;
      &_content {
        background: #1e212a;
        .large-content-main {
          &-title {
            color: #ffffff;
            font-size: 13Px;
          }
        }
        .large-content-count {
          font-size: 11Px;
          color: #999999;
          padding-top: 3Px;
        }
        .navi-data {
          padding: 0 10Px;
          box-sizing: border-box;
          &-item {
            display: flex;
            flex-direction: column;
            font-size: 16Px;
            box-sizing: border-box;
            background: #282b32;
            border-radius: 8Px;
            margin-bottom: 10Px;
            border: none;
            padding: 9Px 15Px;
            .conte {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .text {
                color: #8e8f94;
                font-size: 13Px;
                display: flex;
                line-height: 18Px;
                .coin {
                  font-size: 18Px;
                  color: #ffffff;
                }
              }
              .time {
                font-size: 13Px;
                color: #8e8f94;
              }
            }
            .share {
              margin-top: 10Px;
              display: flex;
              justify-content: space-between;
              .value {
                display: flex;
                color: #8e8f94;
                font-size: 13Px;
                .eval {
                  color: #ffffff;
                }
              }
            }
          }
        }
        .index-footer {
          height: 50Px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &-view {
            display: flex;
            align-items: center;
            font-size: 11Px;
            color: #bbbbbb;
          }
        }
      }
    }
  }
}
.scroll_top {
  position: fixed;
  right: 12Px;
  bottom: 80Px;
  display: flex;
  padding: 7Px;
  border-radius: 50%;
  background: #00000087;
  transition: all 1s;
  &_img {
    width: 20Px;
    height: 20Px;
  }
}

.button-pad {
  min-width: 10Px;
  height: 20Px;
}
